@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&family=Nunito+Sans:ital,wght@0,400;1,600&display=swap');

:root {
  --textColor: #444;
  --titleColor: #1e1e1e;
  --backgroundColor: #EEE;
  --strong: #000000;
}



body {
  color: var(--textColor);
  font-family: 'Lato', sans-serif;
  font-family: 'Nunito Sans', sans-serif;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

footer {
  margin-top: auto;
}

h1,h2,h3,h4,h5,h6 {
  color: var(--titleColor);
}