.footer {
    display: flex;
    flex-direction: column;
}

.footer-info-container {
    background-color: #EEE;
    padding: 40px;
}

.copyright-container {
    display: flex;
    justify-content: center;
    text-align: center;
    color: white;
    background-color: #202529;
}

.links {
    color: black;
    text-decoration: none;
}


.info__logo-container {
    display: flex;
    gap: 30px;
    padding-left: 0;
}


.links__nav,
.real__nav,
.blog__nav {
    display: flex;
    flex-direction: column;
}

.info__logo-container img {
    width: 30px;
    height: 30px;
}

.links-chevron {
    color: blue;
}

.copyright-container__text {
    margin-bottom: 0;
    padding: 17px;
}


#toTopPage {
    margin-top: 10px;
    margin-bottom: 10px;
    color: black;
    align-self: center;
}